{{> ../includes/head.hbs}}
<body class="body-{{htmlWebpackPlugin.options.color}}">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <a href="index.html">
                            <span aria-hidden="true" class="icon_documents_alt icon"></span>
                            <span class="text-highlight">{{htmlWebpackPlugin.options.viewName}}</span><span class="text-bold">Docs</span>
                        </a>
                    </h1>
                    
                </div><!--//branding-->
                
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">{{htmlWebpackPlugin.options.viewName}}</li>
                </ol>
                
            </div><!--//container-->
        </header><!--//header-->