
{{> ../includes/head.hbs}}
<body class="landing-page">
    
<div class="page-wrapper">
<header class="header text-center">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <span aria-hidden="true" class="icon_documents_alt icon"></span>
                        <span class="text-bold">HTML</span> + <span class="text-bold">CSS</span> + <span class="text-bold">JS</span> => <span class="text-highlight">DOCS</span>
                    </h1>
                </div><!--//branding-->
                <div class="tagline">
                    <p>Tvorba webových stránek pro začátečníky - Centrum robotiky</p>
                </div><!--//tagline-->
                
            </div><!--//container-->
        </header><!--//header-->
        
        <section class="cards-section text-center">
            <div class="container">
                <div id="typed-strings">
                    <p>Hello world!!</p>
                    <p>Pokud je debugování proces odstraňování chyb, pak programování musí být vytváření chyb.</p>
                    <p>Pokud nepřemýšlíte pečlivě, můžete dospět k názoru, že programování spočívá v psaní příkazů programovacího jazyka.</p>
                    <p>Naučit se programovat nemá s navrhováním kvalitního interaktivního software nic víc společného než kurz ťukání do klávesnice s psaním básní.</p>
                    <p>Většina dobrých programátorů neprogramuje proto, že chtějí spoustu peněz a slávu, ale protože je to zábava.</p>
                </div>
                <h2 class="title hello_world"></h2>
                
                <div id="cards-wrapper" class="cards-wrapper row">
                <div class="item item-green col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <i class="icon fa fa-paper-plane"></i>
                        </div><!--//icon-holder-->
                        <h3 class="title">Úvod</h3>
                        <p class="intro">Úvod a principy fungování webu, prohlížeč, instalace prostředí</p>
                        <a class="link" href="uvod.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-pink item-2 col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">HTML</h3>
                        <p class="intro">Hypertext Markup Language, vlastnosti, použití, příklady</p>
                        <a class="link" href="html.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-blue col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_datareport_alt"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">CSS</h3>
                        <p class="intro">Kaskádové styly, vlastnosti, použití, příklady</p>
                        <a class="link" href="css.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-purple col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_lifesaver"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">JavaScript</h3>
                        <p class="intro">Úvod do programování v javascriptu</p>
                        <a class="link" href="js.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-orange col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_genius"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">Info</h3>
                        <p class="intro">Odkazy a další informace </p>
                        <a class="link" href="info.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//cards-->

            </div><!--//container-->
        </section><!--//cards-section-->
    </div><!--//page-wrapper-->
{{> ../includes/foot.hbs}}