{{> ../includes/head2.hbs}}

<div class="doc-wrapper">
    <div class="container">
        <div id="doc-header" class="doc-header text-center">
            <h1 class="doc-title"><span aria-hidden="true" class="icon icon_puzzle_alt"></span> Components</h1>
            <div class="meta"><i class="far fa-clock"></i> Naposledy upraveno: 1. 10. 2019</div>
        </div><!--//doc-header-->
        <div class="doc-body row" >
            <div class="doc-content col-md-9 col-12 order-1">
                <div class="content-inner">

                    
                    <section id="app-components" class="doc-section">
                        <h2 class="section-title">App Components</h2>
                        <div id="projects" class="section-block">
                            <h3 class="block-title">Projects</h3>
                            <p>Intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis</p>
                        </div><!--//section-block-->
                    </section><!--//doc-section-->
                
                    
                </div><!--//content-inner-->
            </div><!--//doc-content-->
            <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                <div id="doc-nav" class="doc-nav">
                    <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                        <a class="nav-link scrollto" href="#app-components">App Components</a>
                            <nav class="doc-sub-menu nav flex-column">
                                <a class="nav-link scrollto" href="#projects">Projects</a>
                            </nav><!--//nav-->
                    </nav><!--//doc-menu-->
                </div><!--//doc-nav-->
            </div><!--//doc-sidebar-->
        </div><!--//doc-body-->              
    </div><!--//container-->
</div><!--//doc-wrapper-->

{{> ../includes/foot.hbs}}